<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>LeanEngine</h1>
    <p>This is a LeanEngine demo application.</p>
    <p>Current date: <%= currentTime %></p>
    <p><a href="/todos">A simple todo demo</a></p>
  </body>
</html>
